deap==1.3.0
keras==2.2.4
tensorflow==1.13.1
gym
setuptools
#install stable-baselines==2.10.0a0 manually until the beta version becomes accessible by pip
#Build stable-baselines through the following
#git clone https://github.com/hill-a/stable-baselines.git
#cd stable-baselines
#python3 setup.py install --user
