gym
pandas
tensorflow
numpy
gym
scikit-optimize
cloudpickle
scipy
joblib
pandas
matplotlib
pytest
pytest-cov
sphinx==3.5.3
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==0.5.2
readthedocs-sphinx-search==0.1.0